doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title!= "IFX - Preloader"

    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="animate.css")
  body

    .loader
      .loader--fade.animated.fadeIn
      .loader--block.animated
