.loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(#000, 0.1);
  animation-duration: 0.5s;
  animation-name: slideInHeight;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.75, 0.2, 0.1, 1);
  animation-delay: 2s;

  &--fade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.02);
    font-family: "SF Pro Text", "Arial", sans-serif;
    font-size: 30px;
    animation-direction: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
  }

  &--block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(#000, 0.01);
    animation-name: slideInTop;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.45, 0.45, 0.25);
  }
}

@keyframes slideInTop {
  from {
    visibility: visible;
    transform: translate3d(0, 150%, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -150%, 0);
  }
}
@keyframes slideInHeight {
  from {
    height: 100%;
    visibility: visible;
  }
  to {
    height: 0;
    visibility: hidden;
  }
}